# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# e1_regression/.dockerignore

# Ignora el propio .git
.git

# Ignora las carpetas de caché y archivos compilados de Python
__pycache__
*.pyc
*.orig
*.swp

# Ignora entornos virtuales locales
venv/
env/

# Ignora archivos específicos que no necesitas en la imagen
inspect_pkl.py
resumen_implementacion.ipynb
db.js # Si no es parte de la app Python

# Ignora el archivo .env local si lo tienes (no debe estar en la imagen por seguridad)
.env

data/ # Si no necesitas los datos brutos para la app en ejecución
eda/  # Scripts de EDA

